/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

body {
  overflow-x: hidden !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.overlay {
  /* display: table; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}
div.overlay > div {
  display: table-cell !important;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

/* @media (max-width: 1142px) {
  .p-menubar {
    flex-wrap: wrap !important;
  }
  
  .p-menubar > ul {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .p-menubar > ul > li {
    width: 100% !important;
    text-align: center !important;
  }
} */

@media screen and (max-width: 1216px) {
  .p-menubar .p-menubar-button {
    display: flex !important;
    width: 2rem !important;
    height: 2rem !important;
    color: #6c757d !important;
    border-radius: 50% !important;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s !important;
  }
}

@media screen and (max-width: 1216px) {
  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    display: flex !important;
    flex-direction: column !important;
    top: 100% !important;
    left: 0 !important;
    z-index: 1 !important;
  }
}

@media screen and (max-width: 1216px) {
  .p-menubar .p-menubar-root-list {
    position: absolute !important;
    display: none !important;
    padding: 0.25rem 0 !important;
    background: #ffffff !important;
    border: 0 none !important;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%) !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 1216px) {
  .p-menubar {
    position: relative !important;
  }
}

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-root-list .p-menuitem {
    width: 100%;
    position: static;
  }
}

@media screen and (max-width: 1216px) {
  .p-menubar .p-menubar-root-list .p-menuitem {
    width: 100% !important;
    position: static !important;
  }
}

@media (max-width: 1216px) {
  .blue
    > .p-menubar
    .p-menubar-root-list
    > .p-menuitem
    > .p-menuitem-link
    .p-menuitem-text {
    color: #9f9d9d !important;
  }
  .blue
    > .p-menubar
    .p-menubar-root-list
    > .p-menuitem
    > .p-menuitem-link
    .p-menuitem-text {
    color: #9f9d9d !important;
  }
}

/* OPENPAY */
.bkng-tb-cntnt {
  float: left;
  width: 100%;
}
.bkng-tb-cntnt a.button {
  color: #fff;
  float: right;
  font-size: 18px;
  padding: 5px 20px;
  width: auto;
}
.bkng-tb-cntnt a.button.o {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #e51f04;
  border: 1px solid #e51f04;
}
.bkng-tb-cntnt a.button i {
  color: #fff;
}
.bkng-tb-cntnt a.button.o i {
  color: #e51f04;
}
.bkng-tb-cntnt a.button.right i {
  float: right;
  margin: 2px 0 0 10px;
}
.bkng-tb-cntnt a.button.left {
  float: left;
}
.bkng-tb-cntnt a.button.disabled.o {
  border-color: #ccc;
  color: #ccc;
}
.bkng-tb-cntnt a.button.disabled.o i {
  color: #ccc;
}
.pymnts {
  float: left;
  width: 100%;
}
.pymnts * {
  float: left;
}

.sctn-row {
  margin-bottom: 35px;
  width: 100%;
}
.sctn-col {
  width: 375px;
}
.sctn-col.l {
  width: 425px;
}
.sctn-col input {
  border: 1px solid #ccc;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 12px;
  width: 333px;
}
.sctn-col label {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  width: 100%;
}
.sctn-col.x3 {
  width: 300px;
}
.sctn-col.x3.last {
  width: 200px;
}
.sctn-col.x3 input {
  width: 210px;
}
.sctn-col.x3 a {
  float: right;
}
.pymnts-sctn {
  width: 100%;
}
.pymnt-itm {
  margin: 0 0 3px;
  width: 100%;
}
.pymnt-itm h2 {
  background-color: #e9e9e9;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 28px 0 28px 20px;
  width: 100%;
}
.pymnt-itm.active h2 {
  cursor: default;
}
.pymnt-itm div.pymnt-cntnt {
  display: none;
}
.pymnt-itm.active div.pymnt-cntnt {
  background-color: #f7f7f7;
  display: block;
  padding: 0 0 30px;
  width: 100%;
}

.pymnt-cntnt div.sctn-row {
  margin: 20px 30px 0;
  width: 90%;
}
.pymnt-cntnt div.sctn-row div.sctn-col {
  width: 50%;
}
.pymnt-cntnt div.sctn-row div.sctn-col.l {
  width: 50%;
}
.pymnt-cntnt div.sctn-row div.sctn-col input {
  width: 303px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half {
  width: 155px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half.l {
  float: left;
  width: 50%;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half input {
  width: 93px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv {
  background-image: url("./cvv.png");
  background-position: 156px center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  background-position-y: 80px;
  background-position-x: 0px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv div.sctn-col.half input {
  width: 110px;
}
.openpay {
  float: right;
  height: 60px;
  margin: 10px 30px 0 0;
  width: 435px;
}
.openpay div.logo {
  background-image: url("./openpay.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  border-right: 1px solid #ccc;
  font-size: 12px;
  font-weight: 400;
  height: 75px;
  padding: 15px 20px 0 0;
  background-position-y: 30px;
}
.openpay div.shield {
  background-image: url("./security.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  font-size: 12px;
  font-weight: 400;
  margin-left: 20px;
  padding: 20px 0 0 40px;
  width: 200px;
}
.card-expl {
  float: left;
  height: 80px;
  margin: 20px 0;
  width: 100%;
}
.card-expl div {
  background-position: left 45px;
  background-repeat: no-repeat;
  height: 70px;
  padding-top: 10px;
}
.card-expl div.debit {
  background-image: url("./cards2.png");
  margin-left: 20px;
  width: 540px;
}
.card-expl div.credit {
  background-image: url("./cards1.png");
  border-right: 1px solid #ccc;
  margin-left: 30px;
  width: 209px;
}
.card-expl h4 {
  font-weight: 400;
  margin: 0;
}
.facebook-login-button {
  background-color: #1877f2; /* Color de fondo de Facebook */
  color: #ffffff; /* Color del texto */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.facebook-login-button:hover {
  background-color: #1656b7; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

/* Puedes ajustar el estilo según tus preferencias */
