.subtitle-dark {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;

  color: $primary;
}

.subtitle-light {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;

  color: #fff;
}

.text-light {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  
    color: #fff;
  }

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
