.subtitle-dark {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;

  color: $primary;
}

.subtitle-light {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;

  color: #fff;
}

.text-light {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #fff;
}

.text-dark {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: $primary;
}

.text-black {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #4a4a4a;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.p-blue {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #002541;
}

.p-blue-weigth {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #002541;
}

.subtitle-2-dark {
  font-weight: 700;
  font-size: 24px;

  color: #002541;
}

.plan-title {
  font-weight: 500;
  font-size: 20px;

  color: #9f9d9d;
}

.price-dark {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29.3px;

  color: $primary;
}

.p-18-dark {
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  color: #002541 !important;
}

.p-18-black {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.text-16-gray {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #9f9d9d;
}

.text-12-gray {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #9f9d9d;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #5d73c7;
}

.description-total {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #727272;
}

.total {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #2c2c2c;
}

.price-from {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #303030;
}

.price-from-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #002541;
}
