// $navbar-background-color: #4daaa3;
// $navbar-box-shadow-color: #fff;
// $navbar-item-color: #fff;
$primary: #002541;
$link: #1BC1F4;
$light: #F0F0F0;
$cyan: #3B6673;

$navbar-item-color: $primary;
$title-weight: 700;
$title-size: 60px;
$subtitle-size: 25px;
$subtitle-weight: 800;
$subtitle-color: #fff;
$text-size-base: 20;
$text-930: calc(930 / $text-size-base) + rem;
$text-444: calc(444 / $text-size-base) + rem;
$text-350: calc(350 / $text-size-base) + rem;
$text-240: calc(240 / $text-size-base) + rem;
$text-287: calc(287 / $text-size-base) + rem;
$text-237: calc(237 / $text-size-base) + rem;
$text-228: calc(228 / $text-size-base) + rem;
$text-216: calc(216 / $text-size-base) + rem;
$text-194: calc(194 / $text-size-base) + rem;
$text-80: calc(80 / $text-size-base) + rem;
$text-64: calc(64 / $text-size-base) + rem;
$text-60: calc(60 / $text-size-base) + rem;
$text-53: calc(53 / $text-size-base) + rem;
$text-45: calc(45 / $text-size-base) + rem;
$text-33: calc(33 / $text-size-base) + rem;
$text-28: calc(28 / $text-size-base) + rem;
$text-25: calc(25 / $text-size-base) + rem;
$text-24: calc(24 / $text-size-base) + rem;
$text-20: calc(20 / $text-size-base) + rem;
$text-18: calc(18 / $text-size-base) + rem;
$text-16: calc(16 / $text-size-base) + rem;
$text-14: calc(14 / $text-size-base) + rem;
$text-12: calc(12 / $text-size-base) + rem;
$text-6: calc(6 / $text-size-base) + rem;
$text-5: calc(5 / $text-size-base) + rem;

._1eGao{
    background-color: $light;
}
