// $navbar-background-color: #4daaa3;
// $navbar-box-shadow-color: #fff;
// $navbar-item-color: #fff;
$primary: #002541;
$link: #1BC1F4;
$light: #F0F0F0;
$cyan: #3B6673;

$navbar-item-color: $primary;
$title-weight: 700;
$title-size: 60px;
$subtitle-size: 25px;
$subtitle-weight: 800;
$subtitle-color: #fff;

._1eGao{
    background-color: $light;
}
